@import "tailwindcss";
@import "./custom.css";
@theme {
  /* Color */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-12: #121212;
  --color-light-blue: #67c9d7;
  --color-dark-blue: #1c4f72;
  --color-dark-red: #8d3840;
  --color-olive-green: #86aa70;
  --color-off-white-100: #f6f2e5;
  --color-off-white-200: #fff4e9;
  --color-gray-100: #868582;
  --color-gray-200: #d9d9d9;
  --color-orange: #f1885f;
  --color-teal: #378e97;

  /* Font-family */
  --font-body: Retroyal-medium, sans-serif;
  --font-heading: Swell, sans-serif;
  --font-open-sans: open-sans, sans-serif;
  --font-open-sans-bold: open-sans-bold, sans-serif;
  --font-retroyal-300: Retroyal-light, sans-serif;
  --font-retroyal-400: Retroyal-regular, sans-serif;
  --font-retroyal-500: Retroyal-medium, sans-serif;
  --font-retroyal-600: Retroyal-semibold, sans-serif;

  /* font-weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  /* flex */
  --flex-auto: 1 1 auto;
  --flex-initial: 0 1 auto;
  --flex-inherit: inherit;
  --flex-none: none;

  /* shadow */
  --shadow-xl: 0px 4px 4px 0px #00000017;

  /* padding - margin - height - width - gap */
  --spacing-50-15: calc(50% - 15px);
  --spacing-95p: 95%;
  --spacing-0: 0px;
  --spacing-4: 4px;
  --spacing-5: 5px;
  --spacing-6: 6px;
  --spacing-8: 8px;
  --spacing-10: 10px;
  --spacing-12: 12px;
  --spacing-14: 14px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-26: 26px;
  --spacing-28: 28px;
  --spacing-28.8: 28.8px;
  --spacing-30: 30px;
  --spacing-32: 32px;
  --spacing-40: 40px;
  --spacing-46: 46px;
  --spacing-45: 45px;
  --spacing-50: 50px;
  --spacing-60: 60px;
  --spacing-70: 70px;
  --spacing-80: 80px;
  --spacing-90: 90px;
  --spacing-100: 100px;
  --spacing-120: 120px;
  --spacing-101p: 101%;

  /* font-size */
  --text-12: 12px;
  --text-14: 14px;
  --text-16: 16px;
  --text-18: 18px;
  --text-20: 20px;
  --text-24: 24px;
  --text-26: 26px;
  --text-28: 28px;
  --text-30: 30px;
  --text-32: 32px;
  --text-36: 36px;
  --text-40: 40px;
  --text-45: 45px;
  --text-50: 50px;
  --text-60: 60px;
  --text-70: 70px;
  --text-80: 80px;
  --text-90: 90px;
  --text-100: 100px;
  --text-120: 120px;

  /* border-radius */
  --radius-4: 4px;
  --radius-5: 5px;
  --radius-10: 10px;
  --radius-20: 20px;

  --breakpoint-xxsscreen1: 374px;
  --breakpoint-xsscreen: 370px;
  --breakpoint-xsscreen2: 400px;
  --breakpoint-xsscreen3: 401px;
  --breakpoint-xsscreen2_1: 450px;
  --breakpoint-xsscreen1: 375px;
  --breakpoint-smscreen: 575px;
  --breakpoint-smscreen2: 639px;
  --breakpoint-smscreen1: 576px;

  /* Tablet First (Smallest to Largest) */
  --breakpoint-mdscreen5: 749px;
  --breakpoint-mdscreen4: 750px;
  --breakpoint-mdscreen: 767px;
  --breakpoint-mdscreen6: 768px;
  --breakpoint-mdscreen1: 989px;
  --breakpoint-mdscreen3: 991px;
  --breakpoint-mdscreen2: 990px;

  /* Laptop Screens (Smallest to Largest) */
  --breakpoint-lgscreen: 1023px;
  --breakpoint-lgscreen1: 1024px;
  --breakpoint-lgscreen2: 1025px;

  /* Large Screens (Smallest to Largest) */
  --breakpoint-xlscreen: 1199px;
  --breakpoint-xlscreen1: 1200px;
  --breakpoint-xlscreen2: 1279px;

  /* Desktop First (Smallest to Largest) */
  --breakpoint-xl: 1280px;
  --breakpoint-small_desktop1: 1365px;
  --breakpoint-small_desktop: 1366px;
  --breakpoint-desktop: 1440px;
  --breakpoint-desktop_1: 1400px;
  --breakpoint-large_desktop: 1512px;
  --breakpoint-large_desktop_2: 1511px;
  --breakpoint-midlarge_desktop: 1600px;
  --breakpoint-midlarge_desktop_2: 1650px;
  --breakpoint-extlarge_desktop_2: 1920px;
  --breakpoint-extlarge_desktop: 1921px;
  --breakpoint-extlarge_desktop_1: 2000px;
}
